<h1>Payment</h1>
<p>A <%= @number_of_years %> year loan of $<%= @principal_value %>, with an annual interest rate of <%=@interest_rate%>%, requires a monthly payment of <%=number_to_currency(@payment_ans)%>.</p>
